# Assignment 1

In [3]:
student_list=[]
student_dic = {}

In [7]:
student_range=int(input('Enter how many student you want to enter'))

for _ in range(student_range):
    student_dic['name']=input('Enter Your name :')
    student_dic['age'] = input('Enter your Age :')
    student_dic['work'] = input( 'Enter your Job :')
    student_dic['skill'] = input( 'Enter your Skill :')
    student_dic['digree'] = input( 'Enter your Digree :')
    student_dic['salary'] = input( 'Enter your Salary :')
    student_list.append(student_dic)

student_list

Enter how many student you want to enter3
Enter Your name :usama
Enter your Age :23
Enter your Job :AI
Enter your Skill :AI
Enter your Digree :BSCS
Enter your Salary :80000
Enter Your name :Hamzza
Enter your Age :43
Enter your Job :IOT
Enter your Skill :BSCS
Enter your Digree :IOT
Enter your Salary :82300
Enter Your name :Zie
Enter your Age :12
Enter your Job :IT
Enter your Skill :ET
Enter your Digree :BSCS
Enter your Salary :23

[{'name': 'Zie',
  'age': '12',
  'work': 'IT',
  'skill': 'ET',
  'digree': 'BSCS',
  'salary': '23'},
 {'name': 'Zie',
  'age': '12',
  'work': 'IT',
  'skill': 'ET',
  'digree': 'BSCS',
  'salary': '23'},
 {'name': 'Zie',
  'age': '12',
  'work': 'IT',
  'skill': 'ET',
  'digree': 'BSCS',
  'salary': '23'}]

# Assignment 2

Take input from user and print table in that range. Suppose user input 5 and 10. Then print table of 5,6,7,8,9,10

And ouput should be as follows

In [8]:
table_range_start = int (input("Enter the no from where you want to start table"))
table_range_end = int (input("Enter the no from where you want to end table"))

for i in range(table_range_start,table_range_end+1):
    for j in range(11):
        print (f"{i} * {j} = {i*j} " )
    print("\n")

Enter the no from where you want to start table2
Enter the no from where you want to end table5
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#### table_range_start = int (input("Enter the no from where you want to start table"))
table_range_start = int (input("Enter the no from where you want to end table"))
table_range_end = int (input("Enter the no from where you want to end table"))

i=0
for i in range(11):
    
    for j in range(table_range_start,table_range_end+1):
        print (f"{j} * {i} = {i*j}",'\t',end='')
    print('')

In [32]:
print('fs',end='')
print('sfffg')

fssfffg